In [ ]:
!pip install pyupbit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyupbit
  Downloading pyupbit-0.2.33-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pyupbit) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyupbit) (1.3.5)
Collecting pyjwt>=2.0.0
  Downloading PyJWT-2.4.0-py3-none-any.whl (18 kB)
Collecting websockets
  Downloading websockets-10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (112 kB)
     |████████████████████████████████| 112 kB 11.3 MB/s
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyupbit) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2.10)
Installing collected packages: websockets, pyjwt, pyupbit
Successfully installed pyjwt-2.4.0 pyupbit-0.2.33 websockets-10.3

In [ ]:
!pip install lightgbm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (3.1.0)

In [ ]:
import pyupbit
import pandas as pd
import numpy as np
from sklearn.metrics import roc_curve, roc_auc_score, f1_score, accuracy_score, recall_score, precision_score
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
import lightgbm
import pickle

In [ ]:
df = pyupbit.get_ohlcv("KRW-BTC", interval = 'minute1', count = 20000)
df

,open,high,low,close,volume,value
2022-08-15 01:37:00,32627000.0,32668000.0,32624000.0,32626000.0,6.614164,2.159122e+08
2022-08-15 01:38:00,32625000.0,32664000.0,32613000.0,32619000.0,10.716572,3.496712e+08
2022-08-15 01:39:00,32611000.0,32661000.0,32556000.0,32564000.0,12.550235,4.090182e+08
2022-08-15 01:40:00,32564000.0,32580000.0,32551000.0,32580000.0,6.426242,2.092741e+08
2022-08-15 01:41:00,32579000.0,32582000.0,32572000.0,32582000.0,1.976333,6.438668e+07
...,...,...,...,...,...,...
2022-08-28 22:58:00,27561000.0,27566000.0,27561000.0,27566000.0,0.550219,1.516614e+07
2022-08-28 22:59:00,27566000.0,27567000.0,27561000.0,27566000.0,0.821752,2.265071e+07
2022-08-28 23:00:00,27567000.0,27567000.0,27562000.0,27567000.0,0.434002,1.196358e+07
2022-08-28 23:01:00,27567000.0,27567000.0,27562000.0,27567000.0,0.269857,7.438965e+06
2022-08-28 23:02:00,27567000.0,27567000.0,27562000.0,27566000.0,0.712641,1.964236e+07

In [ ]:
ml = df.reset_index()
ml.rename(columns={'index':'time'},inplace = True)
ml

,time,open,high,low,close,volume,value
0,2022-08-15 01:37:00,32627000.0,32668000.0,32624000.0,32626000.0,6.614164,2.159122e+08
1,2022-08-15 01:38:00,32625000.0,32664000.0,32613000.0,32619000.0,10.716572,3.496712e+08
2,2022-08-15 01:39:00,32611000.0,32661000.0,32556000.0,32564000.0,12.550235,4.090182e+08
3,2022-08-15 01:40:00,32564000.0,32580000.0,32551000.0,32580000.0,6.426242,2.092741e+08
4,2022-08-15 01:41:00,32579000.0,32582000.0,32572000.0,32582000.0,1.976333,6.438668e+07
...,...,...,...,...,...,...,...
19995,2022-08-28 22:58:00,27561000.0,27566000.0,27561000.0,27566000.0,0.550219,1.516614e+07
19996,2022-08-28 22:59:00,27566000.0,27567000.0,27561000.0,27566000.0,0.821752,2.265071e+07
19997,2022-08-28 23:00:00,27567000.0,27567000.0,27562000.0,27567000.0,0.434002,1.196358e+07
19998,2022-08-28 23:01:00,27567000.0,27567000.0,27562000.0,27567000.0,0.269857,7.438965e+06
19999,2022-08-28 23:02:00,27567000.0,27567000.0,27562000.0,27566000.0,0.712641,1.964236e+07

In [ ]:
ml['gap'] = ml['close'] - ml['close'].shift(1)
ml['upgap'] = np.where(ml['gap']>=0, ml['gap'], 0)
ml['downgap'] = np.where(ml['gap'] <0, ml['gap'].abs(), 0)




ml['AU'] = ml['upgap'].ewm(alpha=1/10, min_periods=10).mean()
ml['AD'] = ml['downgap'].ewm(alpha=1/10, min_periods=10).mean()

ml['RSI'] = ml['AU'] / (ml['AU'] + ml['AD']) * 100



ml['ma10'] = ml['close'].rolling(window=10).mean() # 10분 이평
ml['stddev'] = ml['close'].rolling(window=10).std() # 10분 이평편차
ml['upper'] = ml['ma10'] + 2*ml['stddev'] # 상단밴드
ml['lower'] = ml['ma10'] - 2*ml['stddev'] # 하단밴드
ml['bandwidth'] = ml['upper'] - ml['lower']


ml['disparity'] = 100*(ml['close']/ml['ma10'])

ml['up_down'] = (ml['close'] - ml['close'].shift(1)) > 0

ml['buy_sell'] = (ml['gap'].rolling(window=5).sum()) > 0

ml.drop(index=[0, 1, 2, 3, 4, 5, 6, 7, 8], axis=0, inplace = True)
ml.reset_index(inplace = True, drop = True)

In [ ]:
db = ml.copy()
ml.drop(['time','AU','AD','upgap','downgap','upper','lower','gap','ma10','stddev','up_down'], axis = 1, inplace = True)

In [ ]:
ml.head(50)

,open,high,low,close,volume,value,RSI,bandwidth,disparity,buy_sell
0,32558000.0,32610000.0,32553000.0,32594000.0,3.304722,1.076663e+08,49.211872,100150.997110,100.033760,True
1,32603000.0,32603000.0,32546000.0,32575000.0,3.690925,1.201944e+08,41.863201,79965.548137,99.991098,False
2,32552000.0,32575000.0,32519000.0,32554000.0,7.012522,2.282000e+08,35.375829,60463.395722,99.946579,False
3,32540000.0,32553000.0,32500000.0,32503000.0,14.585440,4.741066e+08,24.944841,105898.064194,99.808692,False
4,32526000.0,32544000.0,32504000.0,32537000.0,6.974704,2.267577e+08,38.399414,109203.174557,99.926292,False
5,32537000.0,32539000.0,32509000.0,32536000.0,2.656829,8.639238e+07,38.175770,108978.285299,99.937340,False
6,32536000.0,32574000.0,32516000.0,32567000.0,2.754783,8.965975e+07,48.505940,104715.487552,100.036861,False
7,32572000.0,32575000.0,32521000.0,32531000.0,2.101618,6.841576e+07,39.902907,104565.981296,99.939786,False
8,32531000.0,32573000.0,32527000.0,32562000.0,4.260759,1.386670e+08,48.621644,104701.904896,100.028876,True
9,32540000.0,32567000.0,32511000.0,32545000.0,5.945447,1.933997e+08,44.672649,103007.227362,99.983410,True
10,32516000.0,32566000.0,32500000.0,32501000.0,18.799442,6.112037e+08,36.214101,100158.984730,99.876771,False
11,32501000.0,32560000.0,32501000.0,32533000.0,4.285714,1.394143e+08,44.678614,88271.298972,99.988014,False
12,32533000.0,32555000.0,32503000.0,32541000.0,4.378992,1.424392e+08,46.645354,85274.980048,100.016597,True
13,32504000.0,32540000.0,32485000.0,32516000.0,13.343918,4.336556e+08,41.520053,77687.693863,99.935765,False
14,32508000.0,32523000.0,32433000.0,32447000.0,32.836256,1.066255e+09,31.055583,137707.580684,99.751290,False
15,32448000.0,32488000.0,32400000.0,32424000.0,46.679014,1.513539e+09,28.404168,189230.488500,99.714916,False
16,32424000.0,32470000.0,32386000.0,32386000.0,27.312297,8.850038e+08,24.555580,236336.483289,99.653524,False
17,32385000.0,32436000.0,32378000.0,32429000.0,17.636662,5.714207e+08,35.537296,246477.044232,99.817166,False
18,32429000.0,32484000.0,32411000.0,32453000.0,6.915775,2.244091e+08,40.874550,226354.687260,99.924563,False
19,32448000.0,32456000.0,32376000.0,32423000.0,14.412309,4.671530e+08,36.658972,213941.217264,99.869707,False
20,32424000.0,32484000.0,32423000.0,32480000.0,6.579042,2.135148e+08,47.984276,209310.402141,100.051751,True
21,32479000.0,32480000.0,32438000.0,32450000.0,7.587705,2.462724e+08,43.441953,185025.643868,99.984902,True
22,32450000.0,32476000.0,32436000.0,32452000.0,3.876234,1.257866e+08,43.835780,140222.046135,100.018492,True
23,32452000.0,32463000.0,32374000.0,32385000.0,6.487979,2.103373e+08,34.812769,120479.781614,99.852310,False
24,32384000.0,32416000.0,32368000.0,32384000.0,7.557357,2.447241e+08,34.694338,133069.071455,99.868626,False
25,32397000.0,32406000.0,32368000.0,32400000.0,6.949931,2.251052e+08,38.418700,137298.377428,99.925364,False
26,32392000.0,32431000.0,32392000.0,32425000.0,0.889507,2.883084e+07,43.966563,126441.202849,99.990440,False
27,32425000.0,32425000.0,32405000.0,32410000.0,3.415700,1.107003e+08,41.475540,128468.586735,99.950040,False
28,32410000.0,32424000.0,32386000.0,32412000.0,7.432789,2.408573e+08,41.962686,123640.338617,99.968848,True
29,32412000.0,32465000.0,32405000.0,32436000.0,9.229327,2.993085e+08,47.760437,124895.689811,100.038861,True
30,32464000.0,32480000.0,32436000.0,32480000.0,6.516409,2.115416e+08,56.593409,124895.689811,100.174565,True
31,32480000.0,32499000.0,32473000.0,32474000.0,5.765302,1.872750e+08,55.179755,137078.079940,100.148647,True
32,32480000.0,32485000.0,32462000.0,32482000.0,1.158681,3.763051e+07,56.779189,151740.128729,100.164052,True
33,32482000.0,32482000.0,32464000.0,32474000.0,1.421165,4.614984e+07,54.613722,147778.212197,100.111907,True
34,32465000.0,32497000.0,32454000.0,32497000.0,2.603400,8.453793e+07,59.542677,143851.775565,100.147924,True
35,32496000.0,32497000.0,32491000.0,32497000.0,0.941133,3.058312e+07,59.542677,137288.665875,100.117996,True
36,32497000.0,32497000.0,32475000.0,32488000.0,2.028722,6.592254e+07,56.574559,132852.466209,100.070846,True
37,32488000.0,32496000.0,32475000.0,32492000.0,1.008917,3.277265e+07,57.617862,111232.289477,100.057894,True
38,32492000.0,32492000.0,32447000.0,32465000.0,5.527932,1.795039e+08,48.820890,73035.759887,99.958434,False
39,32465000.0,32490000.0,32414000.0,32421000.0,5.644425,1.831290e+08,38.247284,89223.813463,99.827570,False
40,32447000.0,32452000.0,32400000.0,32444000.0,5.089259,1.650164e+08,45.147272,98236.901869,99.909464,False
41,32442000.0,32449000.0,32407000.0,32448000.0,3.012673,9.771120e+07,46.306590,103327.741784,99.929783,False
42,32448000.0,32452000.0,32435000.0,32438000.0,3.207766,1.040768e+08,43.738747,109645.083996,99.912525,False
43,32441000.0,32487000.0,32436000.0,32487000.0,5.512677,1.788650e+08,56.785645,112444.356610,100.059444,True
44,32475000.0,32486000.0,32441000.0,32452000.0,0.613186,1.990218e+07,47.958970,105809.892417,99.965499,True
45,32452000.0,32486000.0,32446000.0,32473000.0,3.129183,1.015714e+08,52.845397,96088.847775,100.037584,True
46,32473000.0,32495000.0,32473000.0,32495000.0,0.908835,2.952667e+07,57.491436,99942.205521,100.103199,True
47,32495000.0,32500000.0,32495000.0,32500000.0,2.519059,8.186099e+07,58.523405,104682.376740,100.116135,True
48,32500000.0,32528000.0,32499000.0,32507000.0,5.221981,1.697577e+08,60.032722,119096.599448,100.124744,True
49,32513000.0,32550000.0,32500000.0,32548000.0,10.084659,3.280893e+08,67.685484,139443.975209,100.211828,True

In [ ]:
db.head()

,time,open,high,low,close,volume,value,gap,upgap,downgap,...,AD,RSI,ma10,stddev,upper,lower,bandwidth,disparity,up_down,buy_sell
0,2022-08-15 01:46:00,32558000.0,32610000.0,32553000.0,32594000.0,3.304722,1.076663e+08,27000.0,27000.0,0.0,...,9377.810245,49.211872,32583000.0,25037.749278,3.263308e+07,3.253292e+07,100150.997110,100.033760,True,True
1,2022-08-15 01:47:00,32603000.0,32603000.0,32546000.0,32575000.0,3.690925,1.201944e+08,-19000.0,0.0,19000.0,...,10780.074649,41.863201,32577900.0,19991.387034,3.261788e+07,3.253792e+07,79965.548137,99.991098,False,False
2,2022-08-15 01:48:00,32552000.0,32575000.0,32519000.0,32554000.0,7.012522,2.282000e+08,-21000.0,0.0,21000.0,...,12204.314618,35.375829,32571400.0,15115.848930,3.260163e+07,3.254117e+07,60463.395722,99.946579,False,False
3,2022-08-15 01:49:00,32540000.0,32553000.0,32500000.0,32503000.0,14.585440,4.741066e+08,-51000.0,0.0,51000.0,...,17406.109664,24.944841,32565300.0,26474.516048,3.261825e+07,3.251235e+07,105898.064194,99.808692,False,False
4,2022-08-15 01:50:00,32526000.0,32544000.0,32504000.0,32537000.0,6.974704,2.267577e+08,34000.0,34000.0,0.0,...,15149.187238,38.399414,32561000.0,27300.793639,3.261560e+07,3.250640e+07,109203.174557,99.926292,True,False

In [ ]:
target = 'buy_sell'

train = ml.iloc[0:11940,:]
val = ml.iloc[11941:15921,:]
test = ml.iloc[15922:,:]

X_train = train.iloc[:,:-1]
X_val = val.iloc[:,:-1]
X_test = test.iloc[:,:-1]

y_train = train[target]
y_val = val[target]
y_test = test[target]

In [ ]:
lgb_clf = lightgbm.LGBMClassifier(objective='binary', random_state = 11)

tscv = TimeSeriesSplit(n_splits = 5)

param = {
    'n_estimators':[180,200],
    'max_depth':[6,9,25],
    'num_leaves':[5,10,15],
    'min_child_samples':[320,380,400]   
}

grid_lgb = GridSearchCV(lgb_clf,                        # 모델 객체
                  param_grid = param,     # 하이퍼파라미터 목록
                  scoring = 'accuracy',
                  cv = tscv,
                  n_jobs = -1
                                   
                  )


grid_lgb.fit(X_train, y_train)

bestgrid = grid_lgb.best_estimator_
bestgridpred = bestgrid.predict(X_val)

print("최적 파라미터 : ", grid_lgb.best_params_, '\n\n',
      'best score :', grid_lgb.best_score_, '\n\n',
      'best f1 :', f1_score(y_val, bestgridpred)
      )

최적 파라미터 :  {'max_depth': 6, 'min_child_samples': 380, 'n_estimators': 180, 'num_leaves': 5}

 best score : 0.8548743718592966

 best f1 : 0.8529870129870128

In [ ]:
bestgrid.fit(X_test, y_test)
test_pred = bestgrid.predict(X_test)

print('test accuracy score :', accuracy_score(y_test, test_pred), '\n\n',
      '     test f1 score :', f1_score(y_test, test_pred)
      )

test accuracy score : 0.8758908822806586

      test f1 score : 0.866296002118083

In [ ]:
with open('model.pkl','wb') as pickle_file:
    pickle.dump(bestgrid, pickle_file)

In [ ]:
import pickle

with open('model.pkl','wb') as pickle_file:
    pickle.dump(model, pickle_file)